/*Body*/
.block {
    width: 70%;
    margin: auto;
    background-color: rgba(136, 0, 133, 0.7);
    border-radius: 20px;
    color: white;
    margin-top: 30px;
    padding: 50px 50px;
    font-family: "Source Code Pro";
    border: 10px solid #1A0734;
    text-align: justify;
    align-items: center;
}
.block > p {
    font-size: 20px;
}
.block > center > h1 {
    font-size: 70px;
}
/*Body*/

/*Social Media Icons*/
.block .ics .is a i{
    width: 1px;
    color: #eeeacd
}
.is {
    margin-top: 20px;
}
.block .ics .is a{
    font-size: 24px;
    color: #eeeacd;
    text-decoration: none;
}
.block .ics .is a:hover {
    font-size: 25px;
    color: #eeeacd;
    font-weight: bold;
    text-decoration: none;
}
.block .ics h3 {
    font-size: 45px;
    text-align: center;
}
.ics {
    width: 35%;
    background-color: black;
    box-shadow: 10px 10px rgba(105, 104, 128, 1);
    padding: 15px 30px;
}
.ics:hover {
    box-shadow: 2px 2px;
    transition: 0.5s;
}
/*Social Media Icons*/

/*Form*/
.formandmed {
    display: flex;
    justify-content: space-around;
}
.form {
    width: 40%;
    background-color: black;
    box-shadow: 10px 10px rgba(105, 104, 128, 1);
    padding: 15px 30px;
}
.form:hover {
    box-shadow: 2px 2px;
    transition: 0.5s;
}
.block .form h3 {
    font-size: 45px;
    text-align: center;
}
.block .form .textboxes input[type = "text"], .block .form .textboxes input[type = "email"]{
    background-color: black;
    color: white;
    height: 40px;
    border: none;
    overflow: auto;
    outline: none;
    border-bottom: 2px dashed rgba(105, 104, 128, 1);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 60%;
    font-family: "Source Code Pro";
    font-size: 20px;
    margin-top: 2%;    
}
::placeholder {
    font-family: "Source Code Pro";
    color: rgb(149, 148, 161);
    font-size: 20px;
}
.textboxes {
    display: block;
}
#message {
    width: 80%;
    margin: 2% 2px;
    padding: 10px;
    border: 1px solid rgb(149, 148, 161);
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: black; 
    border-radius: 10px;
    color: white;
    font-family: "Source Code Pro"; 
    font-size: 20px;
}
.butt {
    border: 0px;
    background-color:#3CB371; 
    color: #EEEACD;
    padding: 10px;
    width: 200px;
    border-radius: 7px;
    font-size: 20px;
    font-weight: bold;
    box-sh    .event {
        flex-grow: 1;
    }adow: 0 5px #3f3f4e;
    margin: 5% 25% 5% 35%;
}
.butt:hover {
    background-color:#A69064;
    box-shadow: 0px 5px #3f3f4e;
    transition: 0.5s;
}
.butt:active {
    box-shadow: 0px 1px #3e3d53;
    transform: translateY(4px);
    transition: 0.2s;
}
/*Form*/
