/*Body*/
.mukti {
    width: 100%;
    border-radius: 20px;
}
.bod {
    width: 70%;
    margin: auto;
    background-color: rgb(255,255,255,0.7);
    border-radius: 20px;
    color: black;
    margin-top: 30px;
    padding: 22px 50px;
    font-family: "Source Code Pro";
    border: 10px solid #1A0734;
    text-align: justify;
    align-items: center;
}
.bod > p {
    font-size: 20px;
}
.bod > center > h1 {
    font-size: 70px;
}
/*Body*/

/*Sponsor Images*/
.sponsors {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.logo {
    margin: auto;
    overflow: scroll;
}

/*Sponsor Images*/


@media screen and (max-width: 900px) {
    .bod > center > h1 {
        font-size: 40px;
    }
    .bod > p {
        font-size: 15px;
    }
    
}

@media screen and (max-width: 640px) {
    .logo {
        margin-top: 20px;
    }    
}