/*Fonts*/
@font-face {
    font-display: swap;
    font-family: "Source Code Pro";
    font-style: normal;
    font-weight: 400;
    src: url('fonts/source-code-pro-v23-latin-regular.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-weight: 400;
    font-style: normal;
    font-family: "Oswald";
    src: url('fonts/oswald-v53-latin-regular.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: url('fonts/open-sans-v36-latin-regular.woff2') format('woff2');
}  
/*Fonts*/

/*Body*/
.mukti {
    width: 100%;
    border-radius: 20px;
}
.bod {
    width: 70%;
    margin: auto;
    background-color: rgb(255,255,255,0.7);
    border-radius: 20px;
    color: black;
    margin-top: 30px;
    padding: 22px 50px;
    font-family: "Source Code Pro";
    border: 10px solid #1A0734;
    text-align: justify;
    align-items: center;
}
.bod > p {
    font-size: 20px;
}
.bod > center > h1 {
    font-size: 70px;
}
/*Body*/

/*Sponsor Images*/
.sponsors {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.ico {
    margin: auto;
    overflow: scroll;
}
.mh {
    max-width: 80%;
}


/*Sponsor Images*/


@media screen and (max-width: 900px) {
    .bod > center > h1 {
        font-size: 40px;
    }
    .bod > p {
        font-size: 15px;
    }
    
}

@media screen and (max-width: 640px) {
    .ico {
        margin-top: 20px;
    }    
}